<section id="showcase">
    <div class="app-container">
        <h1>Exceptional Care close to you</h1>
    </div>
</section>

<section id="main">
    <h1>Welcome</h1>
    <p>We care for your health.<br>
    Online Doctor Appointment helps in making your health care access easier by saving the hassle to visit a doctor in order to get an appointment.
    Make an online appointment with the doctor in your area and visit the doctor at the appointment date and time.
    <br>
    Easy selection option for specialist is available and you can search and book appointment for doctor available in your area.
    Online Doctor appointment also provides varius options to manage your booked appointments and check appoitment history.
    <br>
    So lets make health care access easier together. 
    <br>
    <br>
    <a class="home-button" routerLink="/login">Login</a>
    <a class="home-button"routerLink="/register">Register</a>
    </p>
</section>
<aside id="sidebar">
    <div class="app-features-list">
            <h2>Features</h2>
            <ul><b>For Patients</b>
                <li>View and Edit Profile</li>
                <li>Book online appointment</li>
                <li>View appointments</li>
                <li>Cancel appointments</li>
                <li>Search doctor based on city</li>
                <li>Search doctor based on locality</li>
                <li>Search doctor based on speciality</li>
                <li>View Doctor's profile</li>
            </ul>
            <ul><b>For Doctors</b>
            <li>View and Edit Profile</li>
            <li>View booked appointment</li>
            <li>Cancel booked appointments</li>
            <li>Create and manage booking slots</li>
            <li>Add and remove Specialities</li>
            </ul>
    </div>	
</aside>
<div class="clr"></div>

<table name="speciality_box" class="app-speciality-box">
    <tr>
        <app-speciality></app-speciality>
    </tr>
</table>


 
