<div class="manage-patient-booking-container">
  <h5>{{user_first_name}}'s Bookings</h5>
  <div class="alert alert-success" *ngIf='isCancelled'>Booking cancelled sucessfully</div>
  
  <div class="container">
    <table class="table table-hover" on-mouseleave="hoveredIndex=null">
      <caption>My Bookings</caption>
      <thead>
        <tr>
          <th>Doctor Name</th>
          <th>Speciality</th>
          <th>Booking Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>AM/PM</th>
          <th>Symptom Desc.</th>
          <th>Cancelled</th>
          <th>Cancelled By</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of appointBookingItems ; let index=index" 
        on-mouseover="hoveredIndex=index">
          <td>{{booking.first_name}}</td>
          <td>{{booking.speciality_name}}</td>
          <td>{{booking.booking_date | date | uppercase}}</td>
          <td>{{booking.start_time}}</td>
          <td>{{booking.end_time}}</td>
          <td>{{booking.meridiem_indicator}}</td>
          <td>{{booking.symptom_desc}}</td>
          <td>{{booking.cancelled}}</td>
          <td>{{booking.cancelled_by}}</td>
          <td style="width: 10%">
            <button *ngIf="index==hoveredIndex" (click)="cancelBooking(booking.booking_id)" 
            class="btn btn-sm btn-warning">Cancel Booking</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 </div> 



