    <div class="app-speciality-block">
      <h3>General practitioner</h3>
      <p>A general practitioner (GP) is a medical doctor who treats acute and chronic illnesses and provides preventive care.
        General practitioners (GPs) treat all common medical conditions
      </p>
      <a class="home-specl-button" href="">Search Doctors</a>
    </div>
    <div class="app-speciality-block">
      <h3>Dentist</h3>
      <p>A dentist, also known as a dental surgeon, is a surgeon who specializes in dentistry, 
        the diagnosis, prevention, and treatment of diseases and conditions of the teeth and oral cavity.
      </p>
      <a class="home-specl-button" href="">Search Doctors</a>
    </div>
    <div class="app-speciality-block">
      <h3>Ophthalmologist</h3>
      <p>An ophthalmologist is a medical or osteopathic doctor who specializes in eye and vision care.
         Performs eye surgery,prescribes,fits eyeglasses and contact lenses to correct vision problems
      </p>
      <a class="home-specl-button" href="">Search Doctors</a>
    </div>
    <div class="app-speciality-block">
      <h3>Traumatologist</h3>
      <p>A traumatologist is a fellowship-trained orthopedic surgeon who specializes in the treatment of both simple and complex fractures, 
         as well as wounds and injuries caused by accidents or sudden violence
      </p>
      <a class="home-specl-button" href="">Search Doctors</a>
    </div>
    <div class="app-speciality-block">
      <h3>Cardiologist</h3>
      <p>cardiologists deals with the disorders of the heart and some parts of the circulatory system including medical diagnosis and treatment of congenital heart defects, coronary artery disease, heart failure.
      </p>
      <a class="home-specl-button" href="">Search Doctors</a>
    </div>
    <div class="app-speciality-block">
      <h3>Neurologist</h3>
      <p>A neurologist is a medical doctor who specializes in treating diseases of the nervous system.
      Illnesses & injuries that involve the nervous system require neurologist’s management & treatment.
      </p>
      <a class="home-specl-button" href="">Search Doctors</a>
    </div>
    <div class="app-speciality-block">
      <h3>Pediatricians</h3>
      <p>Pediatricians are doctors who manage the health of your child, including physical, behavior, and mental health issues. 
      They're trained to diagnose and treat childhood illnesses, from minor health problems to serious diseases.
      Pediatricians takes medical care of infants and children
      </p>
      <a class="home-specl-button" href="">Search Doctors</a>
    </div>
    <div class="app-speciality-block">
      <h3>Dermatologist</h3>
      <p>A dermatologist is a doctor that specializes in treating skin, hair, nail, and mucous membrane disorders.
         Dermatology also involves but is not limited to study, research, and diagnosis of normal and disorders, diseases, cancers, cosmetic and ageing conditions.
      </p>
      <a class="home-specl-button" href="">Search Doctors</a>
    </div>
    <div class="app-speciality-block">
      <h3>Gastroenterologist</h3>
      <p>A Gastroenterologist is a physician which deals with diseases of the 
         esophagus, stomach, small intestine, colon and rectum, pancreas, gallbladder and liver.
         They perform endoscopic procedures using specialized instruments to view the GI tract and make a diagnosis
      </p>
      <a class="home-specl-button" href="">Search Doctors</a>
    </div>
    <div class="clr"></div>
