<div class="search-doctor-container">
  <h5>Doctor near you a click away !</h5>
  
  <div class="locality-select-container">
    <form (ngSubmit)="seachDoctor()" #addSlotForm="ngForm" class="was-validated">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="selectedState">State : </label>
            <select style="width: 85%" class="custom-select-sm" [(ngModel)]="selectedState"
                    name="selectedState" required="required" (change)="getcityList($event.target.value)">
                    <option selected>{{selectedState}}</option>
                    <option *ngFor="let state of stateList">{{state}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class=form-group>
            <label for="selectedCity" class="mx-3">City : </label>
            <select style="width: 80%" class="custom-select-sm mx-3"  [(ngModel)]="selectedCity"
                    name="selectedCity" required="required" (change)="getLocalityList($event.target.value)">
                    <option>{{blankOption}}</option>
                    <option *ngFor="let city of cityList">{{city}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="selectedLocality">Locality : </label>
            <select style="width: 80%" class="custom-select-sm" [(ngModel)]="selectedLocality"
                    name="selectedLocality" required="required">
                    <option>{{blankOption}}</option>
                    <option *ngFor="let locality of localityList">{{locality}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="selectedSpeciality">Specialiaty : </label>
            <select style="width: 80%" class="custom-select-sm" [(ngModel)]="selectedSpeciality"
                    name="selectedSpeciality" required="required">
                    <option>{{blankOption}}</option>
                    <option *ngFor="let specialiaty of specialityList">{{specialiaty.speciality_name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-info btn-sm mx-3">Search Doctor</button>
      </div>

    </form>
  </div>

  <div class="container">
    <table class="table table-hover" on-mouseleave="hoveredIndex=null">
      <!-- <table class="table table-hover"> -->
        <caption>Doctor Search Result</caption>
        <tbody>
          <tr *ngFor="let doctorDetail of doctorDetailsList; let index=index" 
               on-mouseover="hoveredIndex=index">
          <!-- <tr *ngFor="let doctorDetail of doctorDetailsList">  -->
            <td style="width: 80%">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <label id="titles">
                      Doctor Name :
                    </label>
                    <label id="content">
                      {{doctorDetail.first_name}}
                    </label> 
                  </div>
                  <div class="col">
                    Speciality : {{doctorDetail.speciality_name}}
                  </div>
                </div>
              </div>
              <div clas="container">
                <div class="row">
                  <div class="col">
                    Gender : {{doctorDetail.gender}}
                  </div>
                  <div class="col">
                    <label>Practicing From :</label>
                    <label>{{doctorDetail.practicing_from  | date: 'dd-MM-yyyy' }}</label>
                  </div>
                  <div class="col">
                    Consultation Fee : {{doctorDetail.consultation_fee}}
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col">
                    State : {{doctorDetail.state}}
                  </div>
                  <div class="col">
                    City : {{doctorDetail.city}}
                  </div>
                  <div class="col">
                    Locality : {{doctorDetail.locality}}
                  </div>
                </div>
              </div>  
            </td>
            <td style="width: 20%">
              <button  *ngIf="index==hoveredIndex" (click)="navigateBookingPage(doctorDetail.doctor_id)" 
              class="btn btn-info btn-sm my-4">Book Appointment</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div> 


