<div class="search-doctor-container">
  <h5>Doctor near you a click away !</h5>
  
  <div class="locality-select-container">
    <form (ngSubmit)="seachDoctor()" #addSlotForm="ngForm" class="was-validated">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>State : </label>
            <select class="mdb-select-md md-form colorful-select dropdown-info" [(ngModel)]="selectedState"
                    name="state" required="required" (change)="getcityList($event.target.value)">
                    <option selected>{{selectedState}}</option>
                    <option *ngFor="let state of stateList">{{state}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class=form-group>
            <label>City : </label>
            <select class="mdb-select-md md-form colorful-select dropdown-info"  [(ngModel)]="selectedCity"
                    name="city" required="required" (change)="getLocalityList($event.target.value)">
                    <!-- <option selected>{{selectedCity}}</option> -->
                    <option>{{blankOption}}</option>
                    <option *ngFor="let city of cityList">{{city}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Locality : </label>
            <select class="mdb-select-md md-form colorful-select dropdown-info" [(ngModel)]="selectedLocality"
                    name="city" required="required">
                    <option>{{blankOption}}</option>
                    <option *ngFor="let locality of localityList">{{locality}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Specialiaty : </label>
            <select class="mdb-select-md md-form colorful-select dropdown-info" [(ngModel)]="selectedSpeciality"
                    name="city" required="required">
                    <option>{{blankOption}}</option>
                    <option *ngFor="let specialiaty of specialityList">{{specialiaty.speciality_name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-info mx-3">Search Doctor</button>
      </div>

    </form>
  </div>

  <table class="table table-hover" on-mouseleave="hoveredIndex=null">
    <caption>Doctor Search Result</caption>
    <tbody>
      <tr *ngFor="let doctorDetail of doctorDetailsList; let index=index" on-mouseover="hoveredIndex=index">
        <td>
          <div class="row">
            <div class="col">
              Doctor Name : {{doctorDetail.first_name}}
            </div>
            <div class="col">
              Speciality : {{doctorDetail.speciality_name}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              Gender : {{doctorDetail.gender}}
            </div>
            <div class="col">
              Practicing From : {{doctorDetail.practicing_from}}
            </div>
            <div class="col">
              Consultation Fee : {{doctorDetail.consultation_fee}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              State : {{doctorDetail.state}}
            </div>
            <div class="col">
              City : {{doctorDetail.city}}
            </div>
            <div class="col">
              Locality : {{doctorDetail.locality}}
            </div>
          </div>
        </td>
        <td><button (click)="navigateBookingPage(doctorDetail.doctor_id)" 
          *ngIf="index=hoveredIndex"
          class="btn btn-info btn-sm">Book Appointment</button></td>
      </tr>
    </tbody>
  </table>

</div> 


