.search-doctor-container{
    width:90%;
    margin:auto;
    margin-bottom: 10px;
    /* overflow:hidden; */
    border:1px #5bc0de solid;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
	border-radius:15px;
}

.locality-select-container{
    width:95%;
    margin:auto;
    margin-bottom: 10px;
    /* overflow:hidden; */
    border:1px #5bc0de solid;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
	border-radius:15px;
}


.table-hover>tbody> tr:hover{
    background-color: rgb(135, 192, 49);
    
}

.book-btn-container{
    width:30%;
    margin:auto;
    margin-bottom: 10px;
    /* overflow:hidden; */
    /* border:1px #5bc0de solid; */
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
	border-radius:15px;
}

#titles{
    color: purple;
    font-style: italic;
	box-sizing: border-box;
}

#content{
    color:rgb(27, 27, 167);
	box-sizing: border-box;
}

.cancel-button{
	background-color:grey;
	color:#fff;
    margin:5px;
    margin-right: 10%;
	padding:5px;
	border-radius:50px;
	/*border:none;*/
}

.cancel-button:hover{
	background:rgb(192, 40, 13);
	color:#fff;
}

h5{
    color:#6463c0;
}