
<h3>Add New Time Slot</h3>

<div class="add-slot-container">
  <form (ngSubmit)="addSlot()" #addSlotForm="ngForm" class="was-validated">
    
    <div class="container">
     <label class="add_slot_msg">Please Enter Start time and End time in hh:mm format eg. 03:45</label>
    </div>
    <!--Enter Start time and End time in hh:mm format eg 03:45 -->

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Start Time</label>
          <input type="text" class="form-control" [(ngModel)]="newSlotDetails.start_time"
                  name="start_time" required="required" minlength="5" maxlength="5">
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">format required hh:mm</div> 
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>End Time</label>
          <input type="text" class="form-control" [(ngModel)]="newSlotDetails.end_time"
                  name="end_time" required="required" minlength="5" maxlength="5">
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">format required hh:mm</div> 
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>AM/PM</label>
          <select class="form-control" [(ngModel)]="newSlotDetails.meridiem_indicator"
                 name="meridiem_indicator" required="required">
                 <option>AM</option>
                 <option>PM</option>
          </select>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-info mx-3">Add Slot</button>
   </div>
  </form>
</div>   
    