.add-slot-container{
    width:65%;
    margin:auto;
    margin-bottom: 50px;
    /* overflow:hidden; */
    border:1px #5bc0de solid;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
	border-radius:15px;
}

h5{
    color:#6463c0;
}

.add_slot_msg{
    color:rgb(197, 25, 25);
    font-size: smaller;
    font-family: cursive;
}